/*Reglas Generales*/
    *{
        box-sizing: border-box;
        font-family: 'Raleway', 'segoe ui', 'calibri', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
/*Barra de Navegacion*/
    nav{
        position: sticky;
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(to right, #c36, #448);
    }
    .btn{
        margin: .5rem;
        border: .1rem solid #eee;
        color: #eee;
        background-color: transparent;
    }
    .btn:hover{
        color:#448;
        background-color: #eee;
    }
    nav a{
        display: block;
        padding: .25rem;
        color: #eee;
        text-decoration: none;
    }
    .menu{
        width: 100%;
        max-height: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: #3338; /* rbga(51,51,51,.5) */
    }
/*Cabecera de Pagina*/
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        max-height: 640px;
        color:#eee;
        background-color: #333;
        text-align: center;
        text-shadow: 0 0 1vw #eee;
        font-size: calc(2vw + .8rem);
    }
/*Repositorios*/
    .social{
        display: flex;
        justify-content: center;
        padding: .5rem;
    }
    .social a{
        position: relative;
        margin: .25rem;
        border-radius: .25rem;
        padding: .25rem;
        color:#eee;
        background-color: #333;
        text-decoration: none;
    }
    .social a:hover{
        bottom: .25rem;
        background-color: #666;
        box-shadow: 0 0 .5rem #333;
    }
/*Tabla Colaboradores*/
    .colabs{
        margin: auto;
        border-collapse: collapse;
        color:#eee;
        background: linear-gradient(#c36, #448);
        text-shadow: 0 0 .5rem #333;
    }
    .colabs caption{
        border-radius: .25rem .25rem 0 0;
        background-color: #c36;
    }
    .colabs caption,
    .colabs th,
    .colabs td{
        padding: .25rem .5rem;
    }
    .colabs tbody tr:nth-child(odd){ background-color: rgba(102,102,102,.5);}
    .colabs tbody tr:nth-child(even){ background-color: rgba(51,51,51,.5);}
/*Pantallas medianas - Tablets*/
    @media screen and (min-width:768px){
        nav button {
            display: none;
        }
        nav .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
    }
/*Pantallas grandes - Desktop*/
    @media screen and (min-width:1200px){
            nav{
                    justify-content: space-around;
            }
    }
